:root {
    --pink: #f0720b;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    /* padding: 5rem 9%; */
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #4e4d4d;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 131, 8, 0.095);

}

.heading span {
    color: var(--pink);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--pink);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: var(--pink);
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../images/home-bg-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: end;
    padding: 2rem 12%;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #9999;
    border-radius: 10px;
    overflow: hidden;
    outline:#9999 ;
}
th, td {
    border: 3px solid #9999;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
td {
    background-color: #ffffff;
}

.home .content {
    max-width: 54rem;
}

.home .content h3 {
    font-size: 5rem;
    color: #333;
}

.home .content span {
    font-size: 3rem;
    color: #f0720b;
    padding: 1rem 0;
    line-height: 1.1;
    font-weight: 600;
}

.home .content p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .row .content p {
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span {
    color: #555;
    font-size: 1.3rem;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}

.products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 153, 51, 0.05);
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box:hover .image img {
    transform: scale(1.1);
}

/* ----------------table-------------- */

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table1 {
    width: 82vw;
    /* border-collapse: collapse; */
    /* border: 2px solid red; */
}

.full-column p {
    text-align: center;
    transform: rotate(-90deg);
    width: 14vw;
    height: 10vh;
    /* border: 1px solid red; */
}

.full-column {
    height: 33vh;
    /* width: 9vw; */
    text-align: center;
    padding: 7rem 0 0 0;
}

.table1 th,td {
    text-align: center;
    border: 2px solid black;
    padding: 0px;
    font-size: 2rem;
}

.container-table {
    /* border: 2px solid yellowgreen; */
    width: 82vw;
    border: 2px solid black;
    /* position: relative;
    left: 17vh; */
}

tbody {
    height: 62vh;
    /* border: 2px solid orange; */
}

.td1 {
    display: flex;
    flex-direction: column;
    text-decoration: left;
}

.title-contain {
    position: relative;
    left: 3rem;
}

.exception {
    text-align: left;
}

.ul-main1 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.ul-main2 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    position: relative;
    top: 1vh;
}

.ul1 {
    display: flex;
    /* height: 2vh;
    width: 2vw; */
    /* gap: 3vh; */
}

.ul2 {
    display: flex;
    /* height: 2vh;
    width: 2vw; */
    /* gap: 3vh; */
}

.arrow {
    display: inline-block;
    position: relative;
    padding-left: 50px; /* Adjust based on line length */
    /* font-weight: lighter; */
    bottom: 4px;
    margin: 0 3px 0 3px;
}

.arrow::before {
    content: '';
    display: inline-block;
    width: 50px; /* Length of the line */
    height: 2px; /* Thickness of the line */
    background-color: black;
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
}

.arrow::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.products {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

/* ------------------------------------- */

/* -------------Himalayas------ */

#pic1 {
    background-image: url('../images/image-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 59vh;
    width: 62vh;
}

#pic2 {
    background-image: url('../images/image-removebg-preview\ \(1\).png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 59vh;
    width: 62vh;
}

#pic3 {
    background-image: url('../images/image-removebg-preview\ \(2\).png');
    height: 59vh;
    width: 62vh;
}

#pic4 {
    background-image: url('../images/image-removebg-preview\ \(3\).png');
    height: 59vh;
    width: 62vh;
}

#pic5 {
    background-image: url('../images/image-removebg-preview\ \(4\).png');
    height: 59vh;
    width: 62vh;
}

#pic6 {
    background-image: url('../images/Himalaya-img-1.jpg');
    height: 59vh;
    width: 62vh;
    background-size: cover;
}

#pic7 {
    background-image: url('../images/Himalaya-img-2.jpg');
    height: 59vh;
    width: 62vh;
    background-size: cover;
}

#pic8 {
    background-image: url('../images/Himalaya-img-3.jpg');
    height: 59vh;
    width: 62vh;
    background-size: cover;
}

.pictures {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2vh;
    justify-content: space-between;
    /* border: 2px solid red; */
} 

.pictures h1 {
    text-align: center;
}

.pic:hover {
    background: #42414179;
    cursor: pointer;
    transform: translateY(-10px);
}

.pic {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border: 2px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    /* height: 59vh;
    width: 62vh; */
}
/* --------------------------- */
.products .box-container .box .image .icons {
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.products .box-container .box:hover .image .icons {
    bottom: 0;
}

.products .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products .box-container .box .image .icons a:hover {
    background: #333;
}

.products .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.products .box-container .box .content .price {
    font-size: 2.5rem;
    color: var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span {
    font-size: 1.5rem;
    color: #999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgba(0, 0, 0, .1);
}

.review .box-container .box .fa-quote-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars i {
    color: var(--pink);
    font-size: 2rem;
}

.review .box-container .box p {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3 {
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span {
    font-size: 1.5rem;
    color: #999;
}

.contact .row {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}

.contact .flex {
    display: flex;
    gap: 1rem;
}

.choices__inner {
    padding: 0.5em;
}

.choices__list--multiple .choices__item {
    padding: 0.25em 0.5em;
    border-radius: 4px;
    margin: 0.25em;
}

.choices {
    margin-bottom: 2px;
}


.contact .icons-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    background-color: #fff;
}

.contact .icons-container .icons{
    padding: 2.5rem;
    text-align: center;
    border: var(--border);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
}

.contact .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:var(--pink);
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color:#000;
    padding: 1rem 0;
    font-size: 2.5rem;
}

.contact .icons-container .icons p{
    color:#999;
    line-height: 1.8;
    font-size: 1.5rem;
}


.contact .row form {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image {
    flex: 1 1 40rem;

}

.contact .row .image iframe {
    width: 100%;
}

.contact .row form .box {
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus {
    border-color: var(--pink);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: var(--pink);
}

.terms {
    padding: 10vh 5rem;
}

.terms .termscontent {
    font-size: 1.6rem;
    line-height: 2;
    color: #999;
}

.terms .termscontent p {
    margin-bottom: 2rem;
}

#google_translate_element {
    display: none;
    position: absolute;
    top: 60px;
    /* Adjust this value based on your header height */
    right: 10px;
    /* Adjust this value based on your layout */
    background: white;
    border: 1px solid #ddd;
    padding: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.google-translate-element-container {
    position: relative;
}

.goog-te-gadget {
    font-size: 0;
    /* Hide the original text */
}

.goog-te-gadget .goog-te-combo {
    font-size: 16px;
    /* Adjust the size as needed */
    padding: 5px;
}

.custom-swal-popup{
    width: 60vw;
    height: auto;
    min-height: 500px;
}

.popupcontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.popupcontent img{
    height: 300px;
    width: 300px;
}
.popupcontent p {
    max-width: 600px;
    font-size: 1.5rem;
    margin: 2rem 0;
}
.popupcontent .price {
    color: var(--pink);
    font-size: 5rem;
}
.popupcontent .price span {
    color: #999;
    font-size: 3.5rem;
    text-decoration: line-through;
}
.popupcontent .title{
    font-size: 5rem;
    font-weight: 600;
}

/* ------------------Trek and travel and education----------- */
.destinations {
    /* padding: 10px; */
    padding: 10vh 5rem;
}

.destinations ol {
    list-style-type: disc;
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.termscontent {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.definitions ul{
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.trekimg1 {
    background-image: url('/images/Trek1-corrected.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; */
    /* border: 2px solid black; */
}

.trekimg2 {
    background-image: url('/images/Trek2-corrected.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vw; */
    /* border: 2px solid black; */
    margin-top: 2rem;
}

.trekimg3 {
    background-image: url('/images/Trek3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 2rem;
}

.trekimg4 {
    background-image: url('/images/Trek4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 66vh;
    margin-top: 2rem;
}

.trekimg5 {
    background-image: url('/images/Trek5.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    /* margin-top: 2rem; */
}

.trek-info {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.edu-img1 {
    background-image: url('/images/Education-img-1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.edu-img2 {
    background-image: url('/images/Education-img-2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.edu-img3 {
    background-image: url('/images/Education-img-3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.edu-img4 {
    background-image: url('/images/Education-img-4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.edu-img {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 3vh;
    position: relative;
    left: 20%;
}

/* -------Terms--------- */

.termscontent ol{
    list-style: disc;
}

.terms-img {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.terms-img1 {
    background-image: url('/images/Terms-img1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.terms-img2 {
    background-image: url('/images/Terms-img2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    /* margin-top: 2rem; */
}

/* --------------Jyoth------------ */
/* .jyoth1 {
    background-image: url(../images/jyot1.jpg);
} */

.content-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    float: left;
}

#jyotirlingas {
    display: flex;
    justify-content: space-between;
    gap: 3vh;
    flex-wrap: wrap;
    flex: 0 0 auto;
}

.termscontent p {
    /* flex: 1 1 0; */
    /* width: 100%; */
    overflow: hidden;
    text-align: justify;
}

.jyot-guide {
    /* background-image: url('/images/Jyoti-img.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

/* media queries  */
@media (min-width: 1440px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

    .container-table {
        width: 83w;
        left: 0;
    }

    .full-column p{
        width: 21vw;
        height: 15vh;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 1035px) and (max-width: 1439px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

    .container-table {
        width: 83w;
        left: 0;
    }

    .full-column p{
        width: 21vw;
        height: 15vh;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 834px) and (max-width: 1023px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 3rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }
    .custom-swal-popup{
        width: 80vw;
        height: auto;
        min-height: 500px;
    }

    /* -------------table------------- */
    .container-table {
        width: 90vw;
        left: 0;
    }

    .table1 th, td {
        font-size: 1.5rem;
        text-align: center;
    }

    tbody {
        width: 10vw;
    }

    .table1 {
        width: 90vw;
    }

    .full-column {
        height: 71vh;
        width: 23vw;
    }

    .full-column p {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 834px) {
    /* -------------table------------- */
    .container-table {
        width: 90vw;
        left: 0;
    }

    .table1 th, td {
        font-size: 1.5rem;
        text-align: center;
    }

    tbody {
        width: 10vw;
    }

    .table1 {
        width: 90vw;
    }

    .full-column {
        height: 71vh;
        width: 27vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3 {
        font-size: 5rem;
    }

    .home .content span {
        font-size: 3rem;
    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }
    .custom-swal-popup{
        width: 80vw;
        height: auto;
        min-height: 500px;
    }

    /* -------------table------------- */
    .container-table {
        width: 97vw;
    }

    .table1 th, td {
        font-size: 1.5rem;
        text-align: center;
    }

    tbody {
        width: 10vw;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .table1 {
        width: 81vw;
    }

    .full-column {
        height: 71vh;
        width: 23vw;
    }

    .full-column p {
        height: 25vh;
        width: 32vw;
        display: flex;
        justify-content: center;
    }

    .exception {
        text-align: center;
    }
}

@media only screen and (min-width: 450px) and (max-width:600px){
    /* -------------table------------- */
    .container-table {
        width: 135vw;
        position: relative;
        left: 17vh;
        right: 20vh;
        margin: 0 0 0 20px;
        padding: 0 0 0 0;
        text-align: center;
    }

    .table1 th, td {
        font-size: 1.5rem;
        text-align: center;
    }

    tbody {
        width: 10vw;
    }

    .table1 {
        width: 90vw;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .full-column {
        height: 71vh;
        width: 21vw;
    }

    .full-column p {
        height: 24vh;
        width: 34vw;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    /* --------Himalaya------- */
    #pic1 {
        height: 41vh;
        width: 41vw;
    }
    #pic2 {
        height: 41vh;
        width: 41vw;
    }
}


@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
    .custom-swal-popup{
        width: 90vw;
        height: auto;
        min-height: 500px;
    }
    
    /* -------------table------------- */
    .container-table {
        width: 203vw;
        /* margin: 0 0 0 36px; */
        /* left: 0; */
    }

    .table1 th, td {
        font-size: 1.5rem;
        /* text-align: center; */
    }

    .table1 {
        width: 77vw;
        margin: 0 0 0 223px;
        padding: 0 0 0 0;
    }

    .full-column {
        height: 71vh;
        width: 21vw;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .full-column p {
        height: 16vh;
        width: 63vw;
    }

    /* ----------Himalaya------ */
    #pic1 {
        height: 41vh;
        width: 41vw;
    }
    #pic2 {
        height: 41vh;
        width: 41vw;
    }
}



